.display {
    background-color: transparent;
    color: #242424;
    padding: 8px 20px;
    border: 1px solid #242424;
    transition: all 0.3s ease-out;
    border-radius: 2px;
    cursor: pointer;
}

.display:hover {
    background: #242424;
    color: #fff;
    transition: all 0.3s ease-out;
}

.plot {
    width: 100%;
    height: auto;
}