@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.upload {
  text-align: center;
  font-size: 22px;
  padding: 20px;
}

.chart {
  text-align: center;
}